@use "sass:map";

$colors:(
"red":red,
"blue":blue,
"green":green,
"gray":gray,
"orange":orange
);

@each $name, $value in $colors {
  .T#{$name} {
    color: $value;
  }
  .B#{$name} {
    background-color: $value;
  }
}

*{
  //background-color: blue;
}

.header {
  display: flex;
}

.blogsWrapper{
  //background-color: yellowgreen;
  //margin:20px;
  padding:30px;
  //border: lightblue dotted;
}

.blog{
  background: rgb(14,212,252);
  background: linear-gradient(153deg, rgba(14,212,252,1) 2%, rgba(157,238,255,1) 100%);;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.28);
  margin:10% 10%;
  border-radius: 20px 0 20px 0;
  padding:30px;
  padding-top:15px;

  article {
    overflow: auto;
    max-height: 100vh;
  }

  h1,h2 {
    text-align: center;
  }
  h3,h4,h5, article{
    text-align: left;
  }

  .blogHeader{
    text-align: right;
    margin:0;
    padding: 0;
    font-style: italic;
    color: gray;
    p{line-height: 0.7;}
  }
  .blogMain{
    margin-bottom: 40px;
  }
}

.flex{
  display: flex;
  flex-wrap: wrap;

  >* {
    margin: 20px;
    padding: 5px;
    //border: #282c34 3px solid;
    background-color: black;
    color: white;
  }
}

.center{
  text-align: center !important;
}

.accessibilityImg {
  width: 100%;
  max-width: 800px;
}
.header {
  display: flex;
  background: #fafafa;
  height: 60px;
  align-items: center;
  padding: 20px;

  a {
    margin-right: 15px;
    text-decoration: none;
  }
}
a {
  color: black;
}
.logo {
  margin-right: auto;
  font-weight: bold;
  font-size: 20px;
}
.btn-primary {
  background: blue;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}

