@use "sass:map";

$colors:(
red:red,
blue:blue,
green:green,
gray:gray,
orange:orange
);

@each $name, $value in $colors {
  .T#{$name} {
    color: $value;
  }
  .B#{$name} {
    background-color: $value;
  }
}

*{
  //background-color: blue;
}

.header {
  display: flex;
}

.blogsWrapper{
  //background-color: yellowgreen;
  //margin:20px;
  padding:30px;
  //border: lightblue dotted;
}

.blog{
  background-color: lightblue;
  margin:80px 10px;
  padding:30px;
  padding-top:15px;

  h1,h2,h3,h4,h5, article{
    text-align: left;
  }

  .blogHeader{
    text-align: right;
    margin:0;
    padding: 0;
    font-style: italic;
    color: gray;
    p{line-height: 0.7;}
  }
}


